.container-fluid {
    padding: 0;
}

.container-fluid .row {
    margin: 0;
}


/* NAV */
.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
} 

/*NEW TASK*/
.list-div .link{
    text-decoration: none;
}

/*SEARCH*/
#search {
    padding-right:50px;
}

.add-div {
    display: inline-block;
    margin-right: 25px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3476e2;
    color: white;
}

.search-div {
    display: inline-block;
    padding: 0;
    margin: 15px 0;
}

/*FILTER TASK*/
.filter-div{
    margin-bottom: 15px;
    padding: 0;
}

#filter {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

/*ICONS*/
.fas.fa-trash,
.fas.fa-plus,
.fas.fa-edit,
.fas.fa-clock{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
}

.fas.fa-plus{
    color: white;
    margin: 0 10px 0 5px;
}

.fas.fa-trash,
.fas.fa-edit,
.fas.fa-clock{
    float: right;
}

.fas.fa-edit{
    color: #13c43f;
}

.fas.fa-trash,
.fas.fa-clock{
    color: #db1e47;
}

.fas.fa-search{
    position: absolute;
    top: 12px;
    right: 26px;
    cursor: pointer;
}

.fas.fa-check{
    margin:5px;
    color: #13c43f;
}

/*LIST*/
.list-div, 
.task-list{
    padding: 0;
}

.task-item {
    padding: 10px 0 15px 15px;
    list-style: none;
    font-size: 20px;
    height: 50px;
    border-bottom: 1px, dashed #ccc;
}

.task-item.done {
    background-color: #ccc;
}


/* FOOTER */

footer{
    height: auto;
}

footer p {
    position: relative;
    color: #333;
    text-align: center;
    top: 50%
}

/* DETAILS DESCRIPTION */
.list-div #description {
    height: 10em;
}

.list-div #description::placeholder {
    font-size: 20px;
}

/*MESSAGES*/
ul.messages {
    padding: 0;
}

.messages li{
    list-style: none;
}

/*PAGINATION*/
.pagination {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin: 0 5px;
}

/*LOGIN*/
.auth-card {
    margin-bottom: 30px;
}

/*LOGIN AND REGISTER*/
.change-form-p{
    margin-top: 30px;
    text-align: center;
}

/*DASHBOARD*/
.dashboard {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 90%;
}

.dashboard h4{
    font-size: 20px;
}

.dashboard span {
    display: block;
    width: 100%;
    font-size: 40px;
}

.dashboard-box{
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
    background-color: #DFDFDF;
    color: white;
}

#dashboard-lastdays {
    background-color: #3476e2;
}

#dashboard-done {
    background-color: #13c43f;
}

#dashboard-doing {
    background-color: #db1e47;;
}

.about{
    margin: 20px;
}