{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} TO-DO {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">TO-DO</h4>
                <form method="post">
                    {% csrf_token%}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block">LOG IN</button>
                </form>
                <p class="change-form-p">No Register?<a href="/accounts/register"> Register</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}