{% extends 'base.html' %}
{% block title %}Tasks List{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Task List</h1>

    <!--NEW TASK-->
    <a class="link" href="newtask/">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i>New Task
        </div>
    </a>

     <!--SEARCH-->
    <div class="col-9 search-div">
        <form method="GET" id="search-form"> 
            <input class="form-control" type="text" id="search" name="search" placeholder="Type the task to search..." 
            value="{{ request.GET.search }}">
            <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div>

    <!--FILTER-->
    <div class="col-12 filter-div">
        <span>Filter:</span>
        <select name="filter" id="filter" class="form-control">
            <option value="">Option</option>
            <option value="all">All Tasks</option>
            <option value="doing">Doing</option>
            <option value="done">Done</option>
        </select>
    </div>

    <!--MESSAGES-->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}
                    class="alert alert-{{ message.tags }}" 
                    {% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <!--TASKS-->
    <ul class="task-list">
        {% for task in tasks %}
        {% if task.done == 'doing'%}
            <li class="task-item">
                <span><a href="/tasks/{{ task.id }}">{{task.title}}</a></span>
                <a href="/deletetask/{{ task.id }}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>
                <a href="/updatetask/{{ task.id }}"><span><i class="fas fa-edit"></i></span></a>
                <a href="/changesStatus/{{ task.id }}"><span><i class="far fa-clock"></i></span></a>
        {% else %}
            <li class="task-item done">
                <span><a href="/tasks/{{ task.id }}">{{task.title}}</a></span>
                <a href="/deletetask/{{ task.id }}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a>
                <a href="/updatetask/{{ task.id }}"><span><i class="fas fa-edit"></i></span></a>
                <a href="/changesStatus/{{ task.id }}"><span><i class="fas fa-check"></i></span></a>
        {% endif %}
            </li>
        {% endfor %}
    </ul>

    <!--PAGINATION-->
    <div class="pagination">
        <span class="step-links">
            {% if tasks.has_previous %}
                <a href="?page={{ tasks.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            
            {% if tasks.paginator.num_pages %}
            <span class="current">
                {{ tasks.number }} de {{ tasks.paginator.num_pages }}
            </span>
            {% endif %}
        
            {% if tasks.has_next %}
                <a href="?page={{ tasks.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}