{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} New Task {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Add your new task</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }} 
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}