{% extends 'base.html' %}
{% block title %} Report {% endblock %}

{% block content %}
    <!--DASHBOARD-->
    <div class="dashboard">
        <div class="col-4 dashboard-box" id="dashboard-lastdays">
            <h4>Tasks Done Recently</h4>
            <spam>{{taskDoneRecently}}</spam>
        </div>
        <div class="col-4 dashboard-box" id="dashboard-doing">
            <h4>Doing</h4>
            <spam>{{tasksDoing}}</spam>
        </div>
        <div class="col-4 dashboard-box" id="dashboard-done">
            <h4>Done</h4>
            <spam>{{tasksDone}}</spam>
        </div>
    </div>
{% endblock %}
