{% extends 'base.html' %}
{% block title %} Details Task {{ task.id }} {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>{{task.title}}</h1>
    <div class="col-12 search-div">
        <label>Description</label>
        <input class="form-control" type="text" id="description" name="description" placeholder="{{task.description}}">
    </div>
    {% if task.done == 'doing' %}
        <i class="far fa-clock"></i>Doing
    {% else %}
        <i class="fas fa-check"></i>Done
    {% endif %}
</div>
{% endblock %}