{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Update Task {{ task.id }} {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Update Task {{ task.title }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }} 
        <button type="submit" class="btn btn-success">Update Task</button>
    </form>
</div>
{% endblock %}