{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<h1 class="about">About</h1>
<div class="about">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Voluptate optio, dicta deleniti ipsum dolore sunt eius modi, obcaecati 
        perferendis architecto tempore eos reiciendis, vel officia facere ducimus 
        dolor accusantium explicabo!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Voluptate optio, dicta deleniti ipsum dolore sunt eius modi, obcaecati 
        perferendis architecto tempore eos reiciendis, vel officia facere ducimus 
        dolor accusantium explicabo!</p>
</div>
{% endblock %}